<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>

<div class="form">
    <%= form_with model: @user do |form| %>
        <div class="name">
            <div class="field">
                <div class="label"><%= form.label :first_name %></div>
                <div class="text-field"><%= form.text_field :first_name %></div>
            </div>

            <div class="field">
                <div class="label"><%= form.label :last_name %></div>
                <div class="text-field"><%= form.text_field :last_name %></div>
            </div>
        </div>
        <div class="birth-gender">
            <div class="field">
                <div class="label"><%= form.label :birthday %></div>
                <div class="text-field"><%= form.date_field :birthday %></div>
            </div>

            <div class="option">
                <div class="label">Gender</div>
                <div class="options">
                    <div class="male">
                        <%= form.radio_button :gender, 'Male' %>
                        <%= form.label :gender_male, 'Male' %>
                    </div>
                    <div class="female">
                        <%= form.radio_button :gender, 'Female' %>
                        <%= form.label :gender_female, 'Female' %>
                    </div>
                </div>
            </div>
        </div>

        <div class="email-phone">
            <div class="field">
                <div class="label"><%= form.label :email %></div>
                <div class="text-field"><%= form.email_field :email %></div>
            </div>

            <div class="field">
                <div class="label"><%= form.label :phone_number %></div>
                <div class="text-field"><%= form.number_field :phone_number %></div>
            </div>
        </div>
        
        <div class="selector">
            <div class="label"><%= form.label :subject %></div>
            <div class="select"><%= form.select :subject, [["Mr.", "Mr."], ["Ms.", "Ms."], ["Mrs.", "Mrs."]], prompt: "choose option" %></div>
        </div>

        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>
</div>